.down-arrow{
  width: rem(50px);
  height: rem(50px);
  margin: 0 auto;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.down-arrow__pic{
  width: rem(40px);
  height: rem(40px); 
}