.feedback{
  position: relative;
  
  &:hover{
    .feedback__hover{
      opacity: 1;
    }
  }

}
.feedback__avatar{
  height: 100%;
}
.feedback__pic{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.feedback__hover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, .5);
  padding: rem(50px) rem(33px) 0 rem(20px);
  color:#fff;
  opacity: 0;
  transition: opacity .3s;
  @include tablets{
    padding: rem(35px) rem(54px) 0 rem(55px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  @include phones{
    padding: rem(45px) rem(57px);
  }
}

.feedback__title{
  @include gagalin();
  font-size: rem(14px);
  line-height: 2;
  margin-bottom: rem(30px);
  @include tablets{
    margin-bottom: rem(20px);
  }
  @include phones{
    font-size: rem(24px);
  }
}

.feedback__text{
  @include ubuntu(light);
  font-size: rem(14px);
  margin-bottom: rem(17px);

  @include phones{
    display: none;
  }
}