
.order-form{
  display: flex;
  @include tablets{
    flex-direction: column;
    padding: 0 18%;
  }
  @include phones{
    padding:0;
  }
}
.order-form__block{
  width: 50%;
  margin-right: rem(20px);
  @include ubuntu();
  color:#fff;
 
  &:last-child{
    margin-right: 0;
  }
  @include tablets{
    margin-right: 0;
    width: 100%;
  }
}
.order-form__row{
  display: flex;
  margin-bottom: rem(19px);
}
.order-form__field{
  margin-right: rem(20px);
  flex:1;

  &:last-child{
    margin-right: 0;
  }
}
.order-form__title{
  font-size: rem(14px);
  display: block;
  margin-bottom: rem(7px);
}
.order-form__input {
  width: 100%;
  height: rem(36px);
  border: 1px solid transparent;
  border-radius: rem(5px);
  padding: rem(12px) rem(21px);
  outline-color: #f89513;
  font-size: rem(14px);
}
.order-form__textarea{
  width: 100%;
  height: rem(110px);
  max-height: rem(110px);
  resize: none;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: rem(5px);
  padding: rem(12px) rem(21px);
  outline-color: #f89513;
  font-size: rem(14px);
}
.order-form__buttons{
  @include phones{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.order-form__check{
  display: none;
}
.order-form__check:checked + .order-form__radio-title, 
.order-form__check:not(:checked) + .order-form__radio-title {
  position: relative;
  padding-left: rem(25px);
  line-height: rem(20px);
  margin-right: rem(20px);
  cursor: pointer;
  font-size: rem(14px);
}
.order-form__check:checked + .order-form__radio-title:before, 
.order-form__check:not(:checked) + .order-form__radio-title:before {
  content: "";
  position: absolute;
  left: rem(0px);
  top: rem(0px);
  width: 1rem;
  height: 1rem;
  background-color: #fff;
}

.order-form__check:checked + .order-form__radio-title:before, 
.order-form__check:not(:checked) + .order-form__radio-title:before {
  border-radius: 100%;
}
.order-form__check:checked + .order-form__radio-title:after, 
.order-form__check:not(:checked) + .order-form__radio-title:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
}
.order-form__check:checked + .order-form__radio-title:after, 
.order-form__check:not(:checked) + .order-form__radio-title:after  {
  left: 0.25rem;
  top: 0.25rem;
  width: rem(8px);
  height: rem(8px);
  border-radius: 50%;
  background-color: #e35028;
}
.order-form__check:not(:checked) + .order-form__radio-title:after {
  opacity: 0;
}
.order-form__check:checked + .order-form__radio-title:after {
  opacity: 1;
}
.order-form__checkbox-title{
  @include ubuntu();
  font-size: rem(14px);    
  display: flex;
  align-items: center;
  cursor: pointer;
}
.order-form__checkbox {
  display: none;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5625rem;
}

.order-form__custom{
  background-color: #ffffff;
  border: solid 0.0625rem #d1cfcb;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: relative;
  margin-right: 0.5625rem;
}
.order-form__custom::before{
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../images/checkmark.png') center center no-repeat;
}
.order-form__checkbox:checked + .order-form__custom::before {
  display: block;
}

.order-form__submit{
  border-width: rem(0px);
  cursor: pointer;
}

.order-form__reset{
  border: none;
  background: none;
  &:hover{
    background-color: #646261;
  }
}