.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.header__buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__order-btn{
  margin-left: 15px; 
}