.menu__list{
display: flex;
align-items: center;
}

.menu__link{
  font-size: 13px;
  color:#fff;
  text-transform: uppercase;
  text-decoration: none;
  @include ubuntu(medium);
}

.menu__item{
  margin-right: 12px;
  display: flex;
  align-items: center;

  &::after{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    margin-left: 12px;
  }

  &:last-child{
    margin-right: 0;

    &:after{
      display: none;
    }
  }
}