.modal-review{
  display: none;
  background: rgba(0, 0, 0, 0.603);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}
.modal-review.active{
  display: block;
}
.modal-review__overlay{
  display: none;
  
}


.modal-review__inner{
  max-width: rem(450px);
  padding: rem(25px) rem(20px);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:#fff;
  
  @include phones{
    width: 95%;
  }
  
}
.modal-review__title{
  @include gagalin();
  font-size: rem(14px);
  line-height: 2;
  margin-bottom: rem(30px);
  @include tablets{
    margin-bottom: rem(20px);
  }
  @include phones{
    font-size: rem(24px);
  }
}
.modal-review__text{
  @include ubuntu(light);
  font-size: rem(14px);
  margin-bottom: rem(17px);
}
.modal-review__close{
  
  &::after {
   position: absolute;
   content: ' ';
   right: rem(20px);
   top: rem(20px);
   height: rem(25px);
   width: rem(4px);
   background-color: #eb8262;
   border-radius: rem(10px);
   transform: rotate(45deg);
   transition:transform .5s;
 }

 &:before {
   position: absolute;
   content: ' ';
   right: rem(20px);
   top: rem(20px);
   height: rem(25px);
   width: rem(4px);
   background-color: #eb8262;
   border-radius: rem(10px);
   transform: rotate(-45deg);
   transition:transform .5s;
 }
}
