.popup-menu{
  position: fixed;
  left: -99999px;
  right: 0;
  background: rgba(47,50,52,.95);
  align-items: center;
  justify-content: center;
  z-index: 5;
  opacity: 0;
  transition: opacity .3s;
  text-align: center;
}

.popup-menu--active{
  display: flex;
  opacity: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

.popup-logo{
  position: absolute;
  left: 1.0625rem;
  top: 0;
  width: 5.75rem;
  height: 4.3125rem;
  margin-top: 0.75rem;
}
.popup-logo__pic{
  width: 100%;
  height: 100%;
}
.popup-menu__item{
  &:after {
		content: "";
		display: block;
		vertical-align: middle;
		width: 0.25rem;
		height: 0.25rem;
		border-radius: 50%;
		background: white;
		margin: rem(15px) auto;
	}
	&:last-child:after {
		display: none;
	}
}
.popup-menu__link{
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-family: Ubuntu;
  border-bottom: 2px solid transparent; 
  transition: .4s;
}
