.property__img{
display: flex;
justify-content: center;
margin: 0 auto;
margin-bottom: 33px;
width: 97px;
height: 89px;
}
.property__pic{
  max-width: 100%;
  max-height: 100%;
}
.property__desc{
 text-align: center;
}
.property__title{
  @include lifehack();
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 14px;
  color: #2f3234;
}
.property__text{
  font-size: 14px;
  @include ubuntu(light);
  opacity: 0.8;
  color: rgba(47, 50, 52, 0.8);
  line-height: 1.7;
}