.section-nav{
  position: fixed;
  right: rem(45px);
  top: rem(90px);
  z-index: 10;
  @include tablets{
    display: none;
  }
  @include phones{
    display: none;
  }
}

.section-nav__item{
  display: block;
  position: relative;
  width: rem(16px);
  height: rem(16px);
  margin-bottom: rem(5px);
  cursor: pointer;
}

.section-nav__link{
  display: block;
  position: relative;
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: 1px solid transparent;
  transition: .4s;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  &--active{
    border: 1px solid #fff;
  }

  &:hover{
    transition: .4s;
    border: 1px solid #fff;
  }

  &:after{
    content: '';
    display: block;
    position: absolute;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 }
}
