.burger-calory{
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  color:#fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
    transition: .5s;
  }
  @include tablets{
    top: 0;
    right: 15%;
    bottom: auto;
    left: auto;
  }
  @include phones{
    right: 0;
  }
}

.burger-calory__pic{
  width: rem(60px);
  height: rem(60px);
}
.burger-calory__value{
  font-size: rem(20px);
  @include gagalin();
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.burger-calory__text{
  font-size: rem(14px);
  @include gagalin();
  text-transform: uppercase;
}