.button{
  padding:rem(12px) rem(15px);
  border-radius: rem(5px);
  background-color: #e45028;
  color:#fff;
  text-transform: uppercase;
  font-size: rem(13px);
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  @include ubuntu(medium);
  border: none;
  outline-color: #e45028;
  &:hover{
    background-color: #ce401a;
    transition: 0.3s;
  }

  &--bg-black{
    background-color: #2f3234;

    &:hover{
      background-color: #1e2021;
      transition: 0.3s;
    }
  }
}