.down-arrow{
  width: rem(50px);
  height: rem(50px);
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer; 
  position: absolute;
  bottom: 0;
  right: 47%;;
}

.down-arrow__pic{
  width: rem(40px);
  height: rem(40px); 
}