.duration {
  display: flex;
  align-items: center;
  flex: 1;
}

.duration__play {
  cursor: pointer;
  width: rem(80px);
  height: rem(38px);
  fill:#626262;
}


.duration__range {
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background-color: #626262;
  -webkit-appearance: none;
  appearance: none;   
  outline: none;
}


.duration__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #626262;    
  cursor: pointer;
  width: 13px;
  height: 13px;
  border-radius: 50%;    
}
