.hamburger-menu-link{
  display: none;
  width: rem(24px);
  height: rem(22px);
  cursor: pointer;
  align-items: center;
  z-index: 10;
  @include tablets{
    display: flex;
    position: fixed;
    top: rem(35px);
    right: rem(20px);
  }
} 
.hamburger-menu-link__button{
  height: rem(4px);
  width: 100%;
  background-color: #fff;
  border-radius: rem(4px);
  &:after, &::before{
    content: '';
    display: block;
    position: absolute;
    height: rem(4px);
    width: 100%;
    background-color: #fff;
    border-radius: rem(4px);
  }
  &::after{
    bottom: 0;
  }
  &::before{
    top: 0;
  }
}

.hamburger-menu-link--active .hamburger-menu-link__button{
  background-color: transparent;
}
.hamburger-menu-link--active .hamburger-menu-link__button:before {
  transform: rotate(-45deg);
  transition: transform .3s;
  top: .5625rem;
}
.hamburger-menu-link--active .hamburger-menu-link__button:after {
  transform: rotate(45deg);
  transition: transform .3s;
  bottom: .5625rem;
}