.menu-section{
  background:url('../images/bg-slider-main.jpg') center center / cover no-repeat;
  position: relative;
  @include tablets{
    background:url('../images/bg-slider-tablet.jpg') center center / cover no-repeat;
  }
  @include phones{
    background:url('../images/bg-slider-mobile.jpg') center center / cover no-repeat;
  }
}

.menu-section__title{
  position: absolute;
  top:10%;
  left: 10%;
}
