.slider__wrapper{
  overflow: hidden;
}
.slider__list{
  display: flex;
  position: relative;
  width: 100%;
  transition: right 0.5s;
  right: 0;
}
.composition.composition--active{
  background:#e35028;
}
.slider__item{
  position: relative;
  display: flex;
  flex-shrink: 0;
  width: 100%;
  padding-bottom: rem(85px);
  align-items: center;
  overflow: hidden;
  @include tablets{
    flex-direction: column;
    text-align: center;
    padding: 0;
    padding-top: rem(75px);
  }
}

.slider__button{
  width: rem(24px);
  height: rem(24px);
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  z-index: 20;
  &-next{
    transform: rotate(-90deg);
    right: rem(-40px);
    @include tablets{
    right: 0;
    }
  }
  &-prev{
    transform: rotate(90deg);
    left: rem(-40px);
    @include tablets{
      left: 0;
    }
  }
}   
.slider__button-icon{
  width: 100%;
  height: 100%;
}
.slider__left{
  display: flex;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
  @include phones{
    width: rem(404px);
    height:rem(263px);
  }
}
.slider__left, .slider__right{
  flex:1;
  @include tablets{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: rem(564px);
  }
  @include phones{
    width: rem(404px);
  }
}
.slider__img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slider__text{
  font-size: rem(14px);
  @include ubuntu();
  color:#fff;
  line-height: 1.71;
  margin-bottom: 36px;
  @include tablets{
    margin-bottom: rem(56px);
  }
  @include phones-small{
    margin-bottom: rem(26px);
  }
}
.slider__price{
  @include gagalin();
  color: #e35028;
}
.slider__price-sum{
  font-size: rem(72px);
  display: inline-block;
  line-height: 2rem;
  @include phones{
    font-size: rem(50px);
  }
}
.slider__price-currency{
  display: inline-block;
  font-size: rem(30px);
  margin-right: rem(29px);
  @include phones{
    font-size: rem(24px);
  }
}
.slider__options{
  display: flex;
  align-items: flex-end;
}