.video{
  background: url('../images/bg_video.jpg') center center /cover no-repeat;
}
.video__container{
  width: 80%;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.video__player {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #3e3e3e;
}

.video__player-pic {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  fill:#fff;
  opacity: 0.9;
}
.video__player-pic--active{
  opacity:0;
}

#player {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video__toolbar {
  height: 35px;
  width: 100%;
  background-color: #3e3e3e;
  display: flex;
}
